export const Colors {
  $primary: "#656565";
  $secondary: "#4F73FB";
  $default: "#000000";
  $font_color: "#7C889A";
}

export const fontWeight {
  $bold: 700;
  $bolder: 900;
  $normal: 500;
}

export const font_familay {
  $default_font: "emotion engine";
}
